body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.seasons {
    margin-top: 40px;
}

.search-shows {
    margin-bottom: 20px;
}

.clickable {
    cursor: pointer;
}

.actors {
    margin: 0 10px 0 0;
    white-space: normal;
}
