<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header text-center">
                <h1>Dashboard</h1>
            </div>
        </div>
    </div>
    <div data-ng-hide="userShows().length > 0" class="row">
        <div class="col-lg-12">
            <div class="well">
                <h4>You are not subscribed to any shows! Head over <a href="#/shows">here</a>
                    to add your favourite shows!</h4>
            </div>
        </div>
    </div>
    <div data-ng-repeat="episode in latestEpisodes | orderBy:'airtime'" class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h3 class="panel-title">{{episode.show}} - {{episode.title}} - S{{episode.season |
                            leadingZero}}E{{episode.number | leadingZero}}
                            <span data-ng-class="{true:'label-danger', false:'label-info'}[hasRun(episode)]"
                                  class="label pull-right">{{episode.airtime | fromTimestamp}} on {{episode.network}} at {{episode.airhour}}</span>
                        </h3>
                    </div>
                </div>
                <div data-ng-hide="settings.hideDescriptions" class="panel-body">
                    {{episode.description || 'No description available.'}}
                </div>
            </div>
        </div>
    </div>
</div>