<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header text-center">
                <h1>Dashboard</h1>
            </div>
        </div>
    </div>
    <div data-ng-repeat="episode in latestEpisodes" class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h3 class="panel-title">{{episode.show}} - {{episode.title}} - EP{{episode.number}}
                            <span class="label label-info pull-right">{{episode.airtime | fromTimestamp}} on {{episode.network}} at {{episode.airhour}}</span>
                        </h3>
                    </div>
                </div>
                <div class="panel-body">
                    {{episode.description || 'No description available.'}}
                </div>
            </div>
        </div>
    </div>
</div>