<div class="jumbotron">
    <div class="container">
        <h1>Organize Your TV Shows</h1>

        <p>Never miss an episode of your favorite tv show! Tv Show Organizer allows you to subscribe to the shows you
            are watching and presents you a dashboard with the latest episodes so you are always up to date!</p>

        <p>You may enter any email address you want, but you can only reset your password with a valid one.</p>

        <form data-ng-hide="isLoggedIn()" data-ng-submit="signUp(user.email, user.password)" class="form-inline"
              role="form">
            <div class="form-group">
                <label class="sr-only" for="signUpEmail">Email address</label>
                <input data-ng-model="user.email" type="email" class="form-control input-lg" id="signUpEmail"
                       placeholder="Enter email" required>
            </div>
            <div class="form-group">
                <label class="sr-only" for="signUpPassword">Password</label>
                <input data-ng-model="user.password" type="password" class="form-control input-lg" id="signUpPassword"
                       placeholder="Password" required>
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Sign up</button>
        </form>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>TheTVDB</h2>

            <p>Your favourite show is missing? Head over to <a href="http://thetvdb.com/">TheTVDB</a> and help them
                update their database.
                On the next daily update your show will appear if you search for it.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Contributing</h2>

            <p>A feature is missing or you found a bug? Visit the project on <a
                    href="https://github.com/pjuhri/TvShowOrganizer">github</a> and open a ticket or send a pull
                request.</p>
        </div>
        <div class="col-md-4">
            <h2>Mobile</h2>

            <p>This application was optimized for use on mobile phones. Just create a shortcut on your homescreen! Help
                on how to do so can be found
                <a href="http://support.mozilla.org/en-US/kb/firefox-mobile-android-tutorials">here</a> for Firefox and
                <a href="https://developers.google.com/chrome/mobile/docs/installtohomescreen">here</a> for Chrome, but
                it will also work with most of the other mobile browsers.</p>
        </div>
    </div>
</div>