<div id="subscribed-shows" class="pure-u-1 container">
	<h1>Your Shows</h1>
	<div class="contentMargin">
    	<div class="episode clickable" data-ng-click="showDetails(show.id)" data-ng-repeat="show in shows()">
        	<button class="pure-button pure-button-error pull-right pure-button-xsmall" data-ng-click="unSubscribe(show.id); $event.stopPropagation();">Remove</button>
        	<h2>{{ show.title }}</h2>
        	<p data-ng-show="hasDescription(show.description)">
            	{{show.description}}
        	</p>
        	<p data-ng-hide="hasDescription(show.description)">
            	No Description available.
        	</p>
    	</div>
        <div data-ng-hide="shows()">
            <p>
                You are not subscribed to any shows. This page will show all your shows after you added at least one!
            </p>
            <a class="pure-button pure-button-success" href="#/shows">Subscribe To A Show</a>
        </div>
    </div>
</div>