<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header text-center">
                <h1>Settings</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form role="form">
                <div class="form-group">
                    <label for="lastDays">How many passed days would you like to be included in your dashboard?</label>
                    <input data-ng-model="user.settings.passedDaysToShow"
                           data-ng-blur="updatePassedDaysToShow(user.settings.passedDaysToShow)" type="number" min="0"
                           class="form-control" id="lastDays">
                </div>
                <div class="checkbox">
                    <label>
                        <input data-ng-model="user.settings.hideDescriptions"
                               data-ng-click="updateHideDescriptionsSetting(user.settings.hideDescriptions)"
                               type="checkbox">
                        Hide episode recap in dashboard
                    </label>
                </div>
            </form>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <h2>Change your password</h2>

            <form data-ng-submit="updateProfile(oldPassword, newPassword, newPasswordRepeated)" role="form">
                <div class="form-group">
                    <label for="resetPasswordEmail">Email address</label>
                    <input type="email" class="form-control" id="resetPasswordEmail" value="{{user.email}}" disabled
                           required>
                </div>
                <div class="form-group">
                    <label for="currentPassword">Current Password</label>
                    <input data-ng-model="oldPassword" type="password" class="form-control" id="currentPassword"
                           placeholder="Password" required>
                </div>
                <div class="form-group">
                    <label for="currentPassword">New Password</label>
                    <input data-ng-model="newPassword" type="password" class="form-control" id="newPassword"
                           placeholder="Password" required>
                </div>
                <div class="form-group">
                    <label for="currentPassword">Repeat Password</label>
                    <input data-ng-model="newPasswordRepeated" type="password" class="form-control" id="repeatPassword"
                           placeholder="Password" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>