<div class="row">
    <div class="container">
        <div class="col-md-12">
            <div class="page-header text-center">
                <h1>{{show.title}}</h1>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="container">
        <div class="col-xs-2">
            <span class="label label-info">Description</span>
        </div>
        <div class="col-xs-10">
            <p>{{show.description || 'No description available.'}}</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="container">
        <hr>
        <div class="col-xs-2">
            <span class="label label-info">Network</span>
        </div>
        <div class="col-xs-10">
            <p><a href="#/networks/{{show.network.id}}">{{show.network.name}}</a></p>
        </div>
    </div>
</div>
<div class="row">
    <div class="container">
        <hr>
        <div class="col-xs-2">
            <span class="label label-info">Airtime</span>
        </div>
        <div class="col-xs-10">
            <span>{{show.airday}} - {{show.airtime}}</span>
        </div>
    </div>
</div>
<div class="row">
    <div class="container">
        <hr>
        <div class="col-xs-2">
            <span class="label label-info">Actors</span>
        </div>
        <div class="col-xs-10">
            <a class="actors" href="#/actors/{{actor.id}}" data-ng-repeat="actor in show.actors">{{actor.name}}</a>
        </div>

    </div>
</div>
<div class="row">
    <div class="container">
        <div class="col-md-12">
            <div class="page-header text-center">
                <h1>Seasons</h1>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="container">
        <div class="col-md-12">
            <div class="panel-group" id="accordion">
                <div data-ng-repeat="season in show.seasons | orderBy:'number'" class="panel panel-default">
                    <div data-toggle="collapse" data-parent="#accordion" data-target="#collapse{{season.number}}"
                         class="clickable panel-heading">
                        <h2 class="panel-title">
                            Season {{season.number}}
                            <span class="label label-info pull-right">{{season.episodes.length}} Episodes</span>
                        </h2>
                    </div>
                    <div id="collapse{{season.number}}" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div data-ng-repeat="episode in season.episodes | orderBy:'number'" class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <div class="panel-title">
                                                <h4 class="panel-title">
                                                    Episode {{episode.number}} - "{{episode.title}}"
                                                    <span class="label label-info pull-right">{{episode.airtime | fromTimestamp}}</span>
                                                </h4>
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            {{episode.description || 'No description available.'}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>