<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header text-center">
                <h1>Search Shows</h1>
            </div>
        </div>
    </div>
    <div class="row search-shows">
        <div class="col-lg-6">
            <div class="input-group">
                <input data-ng-model="showName" type="text" class="form-control" required>
                <span class="input-group-btn">
                    <button data-ng-click="searchShowsByName(showName)" class="btn btn-primary" type="button">Search
                    </button>
                 </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <p>{{info}}</p>
        </div>
    </div>
    <div data-ng-repeat="show in searchedShows" class="row">
        <div class="col-md-12">
            <div data-ng-click="showDetails(show.id)" class="clickable panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div class="panel-title">
                            <button data-ng-click="subscribe(show.id); $event.stopPropagation();"
                                    data-ng-hide="isSubscribed(show.id)" class="btn btn-success pull-right">Subscribe
                            </button>
                            <span data-ng-show="isSubscribed(show.id)" class="pull-right glyphicon glyphicon-ok"></span>
                            <b>{{show.title}}</b>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="panel-body">
                    {{show.description || 'No description available.'}}
                </div>
            </div>
        </div>
    </div>
    <div data-ng-repeat="show in searchedShowsTvdb" class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div class="panel-title">
                            <button data-ng-click="importShow(show); $event.stopPropagation();"
                                    data-ng-hide="show.isSubscribed" class="btn btn-success pull-right">Subscribe
                            </button>
                            <span data-ng-show="show.isSubscribed" class="pull-right glyphicon glyphicon-ok"></span>
                            <b>{{show.SeriesName}}</b>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="panel-body">
                    {{show.Overview || 'No description available.'}}
                </div>
            </div>
        </div>
    </div>
</div>