@(isLoggedIn: Boolean, userJson: String)
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="Raphael Brand">
        <link rel="shortcut icon" href="@routes.Assets.at("images/favicon.png")">

        <title>TVShowOrganizer</title>

        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/tvshoworganizer.css")">
    </head>
    <body data-ng-app="tvshoworganizer">
        <div id="user" style="display : none">@userJson</div>
        <div data-ng-controller="TopbarCtrl" class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/#">TVShowOrganizer</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li data-ng-class="selectedClass('api')"><a href="#/api">API</a></li>
                        <li data-ng-show="isLoggedIn()" data-ng-class="selectedClass('dashboard')" style="@(if(isLoggedIn) {
                            "display: none"
                        })"><a href="#/dashboard">Dashboard</a></li>
                        <li data-ng-show="isLoggedIn()" data-ng-class="selectedClass('subscriptions')" style="@(if(isLoggedIn) {
                            "display: none"
                        })"><a href="#/subscriptions">Subscriptions</a></li>
                        <li data-ng-show="isLoggedIn()" data-ng-class="selectedClass('shows')" style="@(if(isLoggedIn) {
                            "display: none"
                        })"><a href="#/shows">Shows</a></li>
                        <li data-ng-show="isLoggedIn()" data-ng-class="selectedClass('settings')" style="@(if(isLoggedIn) {
                            "display: none"
                        })"><a href="#/settings">Settings</a></li>
                    </ul>
                    <form data-ng-hide="isLoggedIn()" ng-submit="logIn(user.email, user.password)" class="navbar-form navbar-right" style="@(if(isLoggedIn) {
                        "display: none"
                    })">
                        <div class="form-group">
                            <input data-ng-model="user.email" type="email" placeholder="Email" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <input data-ng-model="user.password" type="password" placeholder="Password" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-success">Sign in</button>
                    </form>
                    <form data-ng-show="isLoggedIn()" class="navbar-form navbar-right" style="@(if(!isLoggedIn) {
                        "display: none"
                    })">
                        <button data-ng-click="logOut()" class="btn btn-danger pull-right">Log out</button>
                    </form>
                </div> <!--/.navbar-collapse -->
            </div>
        </div>
        <ng-view></ng-view>
        <script src="@routes.Assets.at("javascripts/angular.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery-1.10.2.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery.bootstrap-growl.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/lodash.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/tvshoworganizer.js")" type="text/javascript"></script>
    </body>
</html>