<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TVShowOrganizer</title>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/pure-min.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/tvshoworganizer.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body data-ng-app="tvshoworganizer">
        <div class="pure-g-r">
            <div class="header pure-u-1" data-ng-controller="TopbarCtrl">
                <div class="pure-menu pure-menu-open pure-menu-fixed pure-menu-horizontal">
                    <a class="pure-menu-heading" href="#/">TV Show Organizer</a>
                    <ul>
                        <li data-ng-class="selectedClass('api')"><a href="#/api">API</a></li>
                        <li data-ng-show="isLoggedIn()" data-ng-class="selectedClass('dashboard')"><a href="#/dashboard">Dashboard</a></li>
                        <li data-ng-show="isLoggedIn()" data-ng-class="selectedClass('organize')"><a href="#/organize">Organize</a></li>
                        <li data-ng-show="isLoggedIn()" data-ng-class="selectedClass('shows')"><a href="#/shows">Shows</a></li>
                        <li data-ng-show="isLoggedIn()"data-ng-class="selectedClass('profile')"><a href="#/profile">Profile</a></li>
                    </ul>
                    <ul id="logoutForm" class="pull-right" data-ng-show="isLoggedIn()">
                        <li>
                            <button style="margin-top: 1px;" class="pure-button pure-button-error " data-ng-click="logOut()">Logout</button>
                        </li>
                    </ul>
                    <ul id="loginForm" data-ng-hide="isLoggedIn()" class="pull-right">
                        <li>
                            <form class="pure-form" ng-submit="logIn(user.email, user.password)">
                                <input type="email" placeholder="Email" class="pure-input-rounded pure-input-xsmall" data-ng-model="user.email" required>
                                <input type="password" placeholder="Password" class="pure-input-rounded pure-input-xsmall" data-ng-model="user.password" required>
                                <button type="submit" class="pure-button pure-button-success ">Sign in</button>
                            </form>
                        </li>
                    </ul>
                </div>
                <div data-ng-show="flashErrorMessage()" id="flashErrorMessage">{{flashErrorMessage()}}</div>
                <div data-ng-show="flashSuccessMessage()" id="flashSuccessMessage">{{flashSuccessMessage()}}</div>
            </div>
        <ng-view></ng-view>
        </div>
        <script src="@routes.Assets.at("javascripts/angular.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/lodash.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/tvshoworganizer.js")" type="text/javascript"></script>
    </body>
</html>